<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">
  
	<bean id="analyzer" name="analyzer" scope="prototype"
		class="org.apache.lucene.analysis.standard.StandardAnalyzer">
	</bean>

<!--  this pool is for the main load task -->

	<bean id="loadTaskExecutor" scope="prototype"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="2" />
		<property name="maxPoolSize" value="2" />
		<property name="daemon" value="true" />
    	<property name="waitForTasksToCompleteOnShutdown" value="true" />
		<property name="threadNamePrefix" value="MusicLoad-" />
	</bean>	

<!--  this pool is for the task of reading mp3 files -->

	<bean id="readTaskExecutor" scope="prototype"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="30" />
		<property name="maxPoolSize" value="50" />
		<property name="queueCapacity" value="100000" />
    	<property name="waitForTasksToCompleteOnShutdown" value="true" />
		<property name="threadNamePrefix" value="MusicRead-" />
	</bean>	
		
</beans>
